/*1*/
table, th , td{
    border: 1px solid black;
    border-collapse: collapse;
 }
    td, th{
        padding: 3px 0px 3px 0px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9pt;
    }

    td{
        font-weight: 100;
    }

    th {
        font-weight:600;
    }

    #width_1 {
        width: 100px;
    }

    #width_2 {
        width: 300px;
    }

/*2*/
    input[type=text]{
        width: 400px;
        padding: 7px 10px 9px 40px;
        border: 1px solid #d6d6d6;
        border-radius: 15px;
    }

    #icon {
        background:url("ss1.png") no-repeat left,url("ss2.png") no-repeat right;
        background-size: 15px, 11px;
        background-position: 2%, 97%;
    }

    /*#icon2 {
        background:url("ss2.png") no-repeat right;
        background-size: 20px;
        background-position: 10px;
    }*/
/*3*/
    ol, ul{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

/*4*/